.cart-container {
  margin-top: 25px;
}

.fr {
  float: right;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.quantity-input {
  text-align: center;
  width: 45px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

.product-card {
  min-height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-card-image {
  display: block;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.product-search {
  margin-left: 25px;
  display: block;
}